{% extends "App/padre.html" %}

{% load static %}

{% block ContenidoQueCambia %}
<div class="container">
    <form action="{% url 'inicio' %}" method="POST" class="form-group mt-5 col-6">{% csrf_token %}
        <h2 class="text-center">COMPRA TU ENTRADA</h2>
        <p>Nombre: <input type="text" name="nombre" id="nombre" class="form-control mb-2" placeholder="Nombre"></p>
        <p>Apellido: <input type="text" name="apellido" id="apellido" class="form-control mb-2" placeholder="Apellido"></p>
        <p>Email: <input type="email" name="email" id="email" class="form-control mb-2" placeholder="Email"></p>
        <p>Telefono: <input type="tel" name="telefono" id="telefono" class="form-control mb-2" placeholder="Telefono"></p>
        <p>Pelicula:
            <select name="pelicula" class="form-select" aria-label="Seleccione su pelicula">
                {% for Pelicula in peliculas %}
                  <option>{{ Pelicula.nombre }}</option>
                {% endfor %}
            </select>
        </p>
        <p>Metodo de pago:
                <select name="metodoDePago" class="form-select" aria-label="Metodo de Pago">
                      <option value="Visa">Visa</option>
                      <option value="Master Card">Master Card</option>
                      <option value="American Express">American Express</option>
                      <option value="Mercado Pago">Mercado Pago</option>
                </select>
        </p>
        <p>Horario: <input type="time" name="horario" id="horario" class="form-control mb-2" placeholder="Horario"></p>
        <button type="submit" class="btn btn-info mb-2" >Comprar Entrada</button>
    </form>
    </div>
    
    
{% endblock %}